<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<section class="container">
    <div class="row">
        <section class="col-sm-offset-3 col-md-6">
            <h1 style="text-align: center; ">Contacto</h1>
            <hr class="colorgraph">
            <div class="row">
                <h2 style="text-align: center; " >Ricardo Ferro Moreno</h2>
                <article class="row"><br>
                    <div class="col-sm-offset-3 col-sm-1">
                        <a type="button" data-toggle="tooltip" data-placement="left" onmouseenter="$(this).tooltip('show')" title="Ricardo Ferro Moreno"
                            href="mailto:rferromoreno@gmail.com" class="btn btn-danger btn-circle"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-offset-1 col-sm-1">
                        <a type="button" data-toggle="tooltip" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Ricardo Ferro Moreno"
                            href="https://www.facebook.com/rferromoreno" class="btn btn-primary btn-circle"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-1 col-md-offset-1">
                        <a type="button" data-toggle="tooltip" data-placement="right" onmouseenter="$(this).tooltip('show')" title="Ricardo Ferro Moreno"
                            href="https://github.com/rferromoreno" class="btn btn-default btn-circle"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>

                </article>
                <hr class="colorgraph"><br>
                <h2 style="text-align: center; ">Matias Marzullo</h2>
                <div class="row"><br></div>
                <article class="row">
                    <div class="col-sm-offset-2 col-sm-1">
                        <a type="button" data-toggle="tooltip" data-placement="left" onmouseenter="$(this).tooltip('show')" title="Matias Marzullo"
                            href="mailto:matias.marzu@gmail.com" class="btn btn-danger btn-circle"><i class="fa fa-envelope" aria-hidden="true"></i></a>

                    </div>
                    <div class="col-sm-offset-2 col-sm-2">
                        <a type="button" data-toggle="tooltip" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Matias Marzullo"
                            href="https://www.facebook.com/matias.marzullo" class="btn btn-primary btn-circle"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-1 col-md-offset-1">
                        <a type="button" data-toggle="tooltip" data-placement="right" onmouseenter="$(this).tooltip('show')" title="Matias Marzullo"
                            href="https://github.com/matiaschap" class="btn btn-default btn-circle"><i class="fa fa-github" aria-hidden="true"></i></a>

                    </div>
                </article>
                <hr class="colorgraph">
            </div>
        </section>
    </div>
</section>