<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<section>
        <h2>Aliquam sed mauris</h2>
        <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros.
            eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
        <ul class="actions">
            <li><a href="generic.html" class="button">Learn More</a></li>
        </ul>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Ricardo Ferro Moreno</h2>
                    <dl class="alt">
                        <dt>Celular</dt>
                        <dd>(+54 9) 291 407-2096</dd>
                        <dt>Email</dt>
                        <dd><a href="mailto:rferromoreno@gmail.com">rferromoreno@gmail.com</a></dd>
                    </dl>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/rferromoreno" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                        <li><a href="https://github.com/rferromoreno" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h2>Matias Marzullo</h2>
                    <dl class="alt">
                        <dt>Celular</dt>
                        <dd>(+54 9) 291 645-5784</dd>
                        <dt>Email</dt>
                        <dd><a href="mailto:matias.marzu@gmail.com">matias.marzu@gmail.com</a></dd>
                    </dl>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/matias.marzullo" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                        <li><a href="https://github.com/matiaschap" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>