<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<section class="container">
    <div class="row">
        <section class="col-md-offset-3 col-md-6">
            <h1 style="text-align: center; ">Créditos</h1>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-star-half-o"></i><h4>Angular-JWT</h4></li>
                    <li><i class="fa-li fa fa-star-half-o"></i><h4>Mongoose</h4></li>
                    <li><i class="fa-li fa fa-star-half-o"></i><h4>NodeJS</h4></li>
                    <li><i class="fa-li fa fa-star-half-o"></i><h4>Express</h4></li>
                    <li><i class="fa-li fa fa-star-half-o"></i><h4>AngularJs </h4></li>
                   </ul> 
                   <h4> Librerías de AngularJs: </h4>
                   <ul class="tab fa-ul">
                      
                    <li><i class="fa-li fa fa-star-o"></i><h4>ngMap</h4></li>
                    <li><i class="fa-li fa fa-star-o"></i><h4>ngFlash </h4></li>
                    <li><i class="fa-li fa fa-star-o"></i><h4>ngRoute </h4></li>
                    <li><i class="fa-li fa fa-star-o"></i><h4>ngTagsInput </h4></li>
                    <li><i class="fa-li fa fa-star-o"></i><h4>Angular-JWT</h4></li>
                </ul>
                </div>
            </div>
            <hr class="colorgraph">
        </section>
    </div>
</section>