<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<section class="container">
    <div class="row">
        <section class="col-md-offset-3 col-md-6">
            <h1 style="text-align: center; ">Créditos</h1>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h2> Tecnologías: </h2>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-star-half-o"></i>AngularJS</li>
                        <li><i class="fa-li fa fa-star-half-o"></i>MongoDB</li>
                        <li><i class="fa-li fa fa-star-half-o"></i>NodeJS</li>
                        <li><i class="fa-li fa fa-star-half-o"></i>Express</li>
                        <li><i class="fa-li fa fa-star-half-o"></i>JsonWebToken</li>
                    </ul>
                    <h4> Librerías de AngularJs: </h4>
                    <ul class="tab fa-ul">
                        <li><i class="fa-li fa fa-star-o"></i>ngMap</li>
                        <li><i class="fa-li fa fa-star-o"></i>ngFlash</li>
                        <li><i class="fa-li fa fa-star-o"></i>ngRoute</li>
                        <li><i class="fa-li fa fa-star-o"></i>ngTagsInput</li>
                        <li><i class="fa-li fa fa-star-o"></i>Angular-JWT</li>
                    </ul>
                    <h4> Librerías de Node: </h4>
                    <ul class="tab fa-ul">
                        <li><i class="fa-li fa fa-star-o"></i>express-jwt</li>
                        <li><i class="fa-li fa fa-star-o"></i>Mongoose</li>
                        <li><i class="fa-li fa fa-star-o"></i>Passport</li>
                    </ul>
                    <h4> Visuales: </h4>
                    <ul class="tab fa-ul">
                    <li><i class="fa-li fa fa-star-o"></i>Bootstrap</li>
                    <li><i class="fa-li fa fa-star-o"></i>Font Awesome</li>
                    <li><i class="fa-li fa fa-star-o"></i>Glyph Icons</li>
                    </ul>
                </div>
            </div>
            <hr class="colorgraph">
        </section>
    </div>
</section>