<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<div class="container">
    <h3 class="subheader" ng-hide="ongs.length > 0">No hay ongs para mostrar </h3>

    <fieldset class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-6">
                <h1>Listado de ONGs</h1>
            </div>
        </div>
    </fieldset>

    <fieldset ng-hide="ongs.length === 0">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel-custom" ng-if="currentUser.admin">
                    <a type="button" data-toggle="tooltip" data-placement="right" onmouseenter="$(this).tooltip('show')" title="Agregar ONG"
                        href="/add/ong" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <form role="form">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Buscar" ng-model="buscador" />
                        <i class="form-control-feedback glyphicon glyphicon-search"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr class="success">
                        <th>Nombre </th>
                        <th>Tipo</th>
                        <th>Ubicación</th>
                        <th>Responsable</th>
                        <th ng-if="currentUser.admin">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info" ng-repeat="(id,ong) in ongs | filter: buscador">
                        <td>{{ ong.nombre}}</td>
                        <td>{{ ong.tipo}}</td>
                        <td>{{ ong.ubicacion}}</td>
                        <td>{{ ong.responsable}}</td>
                        <td ng-if="currentUser.admin">
                            <a onmouseenter="$(this).tooltip('show')" data-placement="left" class="btn btn-info button expand alert" title="Editar" href="/ong/{{ong._id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <button onmouseenter="$(this).tooltip('show')" data-placement="right" type="button" ng-click="deleteOng(ong._id)" title="Eliminar"
                                class="btn btn-danger button expand alert"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>