<div ng-include="'views/partials/navbar.html'" ng-controller="navCtrl as nc"></div>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <flash-message></flash-message>
        <form name="Login_Form" class="form-signin" ng-submit="onSubmit(lc.credentials)" novalidate>
            <h3 class="form-signin-heading">Conectarse <small>Ingrese su usuario y contraseña.</small></h3>
            <hr class="colorgraph">
            <div class="form-group">
                <input type="text" class="form-control" name="Usuario" placeholder="Email" required="" autofocus="" ng-model="lc.credentials.email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Contraseña" placeholder="Contraseña" required="" ng-model="lc.credentials.password"/>
            </div>
            <hr class="colorgraph">
            <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Conectarse" type="submit">Conectarse</button>
        </form>
    </div>
</div>