<div ng-include="'views/partials/navbar.html'" ng-controller="NavigationController as nc"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--DESCRIPCION de la ONG-->
            <div>
                <h2>ONG</h2><hr class="colorgraph">
                <dl class="list-unstyled">
                    <dt><h4><strong>Nombre:</strong></h4></dt>
                    <dd class="tab">{{ong.nombre}}</dd>
                    <dt><h4><strong>Tipo:</strong></h4></dt>
                    <dd class="tab">{{ong.tipo}}</dd>
                    <dt><h4><strong>Ubicación:</strong></h4></dt>
                    <dd class="tab">{{ong.ubicacion}}</dd>
                    <dt><h4><strong>Responsable:</strong></h4></dt>
                    <dd class="tab">{{ong.responsable}}</dd>
                </dl>
                </ul>
            </div>
            <hr class="colorgraph">
        </div>
        <div class="col-md-6">
            <div>
                <!--  Ong comentarios List -->
                <ul>
                    <h3> Comentarios </h3>
                    <li ng-repeat="com in ong.comentarios">
                        <blockquote>
                            {{com.texto}}
                            <cite class="clearfix">—{{com.autor}}  on {{com.fecha | date}}</cite>
                        </blockquote>
                    </li>
                </ul>
                <!--  comentario Form -->
                <form name="comentarioForm" role="form" ng-submit="addComentario(comentario)" ng-if="currentUser">
                    <h4>Enviar un comentario</h4>
                    <fieldset class="form-group">
                        <input ng-model="comentario.autor" type="text" class="form-control" placeholder="Ingresa tu nombre" title="Nombre"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="comentario.texto" class="form-control" placeholder="Escribir un pequeño comentario sobre la ONG..."
                            title="comentario"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">Enviar comentario</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>